<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title> 
</head>
<body>


    <h1>Welcome to the Bank Application</h1>


    <h3>Enter your account number here </h3>
    <form action="/account_detail" method="POST">
        <label for="account_number">Account Number:</label>
        <input type="text" id="account_number" name="account_number" required>
        <input type="submit" value="Submit">        
    </form>
    <br>
    <a href="/accounts/create">Create New Account</a><br><br>

      
</body>
</html>